<h1>Create a new landmark</h1>
<form action="/landmarks/create" method="post">
  <input type="text" name="landmark[name]" id="landmark_name" placeholder="Landmark Name" />
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" placeholder="Year Completed" />
  <input type="submit" id="Create New Landmark" />
</form>
